.dealer-cards .card, .player-cards .card {
	margin-left: 5px;
}

.dealer-cards .card:first-child, .player-cards .card:first-child{
	margin-left: 0;
}

 .new-cards .card:first-child{
	margin-left: 5px;
}

.dealer-cards, .player-cards{
	padding-top: 50px;
	width: 164px;
	margin: 0 auto;
}

.dealer-total, .player-total{
	margin-top: 10px;
}
.flipped{
	background-position: -158px -492px !important;
}
.card {
    background-image: url(images/cards.png);
    float: left;
    height: 123px;
    width: 79px;
}

/* Clubs */
.ace-of-clubs{
	background-position: 0 0;	
}

.2-of-clubs{
	background-position: -79px 0;	
}

.3-of-clubs{
	background-position: -158px 0;	
}

.4-of-clubs{
	background-position: -237px 0;	
}

.5-of-clubs{
	background-position: -316px 0;	
}

.6-of-clubs{
	background-position: -395px 0;	
}

.7-of-clubs{
	background-position: -474px 0;	
}

.8-of-clubs{
	background-position: -553px 0;	
}

.9-of-clubs{
	background-position: -632px 0;	
}

.10-of-clubs{
	background-position: -711px 0;	
}

.jack-of-clubs{
	background-position: -790px 0;	
}

.queen-of-clubs{
	background-position: -869px 0;	
}

.king-of-clubs{
	background-position: -948px 0;	
}




/* Spades */
.ace-of-spades{
	background-position: 0 -123px;	
}

.2-of-spades{
	background-position: -79px -123px;	
}

.3-of-spades{
	background-position: -158px -123px;	
}

.4-of-spades{
	background-position: -237px -123px;	
}

.5-of-spades{
	background-position: -316px -123px;	
}

.6-of-spades{
	background-position: -395px -123px;	
}

.7-of-spades{
	background-position: -474px -123px;	
}

.8-of-spades{
	background-position: -553px -123px;	
}

.9-of-spades{
	background-position: -632px -123px;	
}

.10-of-spades{
	background-position: -711px -123px;	
}

.jack-of-spades{
	background-position: -790px -123px;	
}

.queen-of-spades{
	background-position: -869px -123px;	
}

.king-of-spades{
	background-position: -948px -123px;	
}



/* Hearts */
.ace-of-hearts{
	background-position: 0 -246px;	
}

.2-of-hearts{
	background-position: -79px -246px;	
}

.3-of-hearts{
	background-position: -158px -246px;	
}

.4-of-hearts{
	background-position: -237px -246px;	
}

.5-of-hearts{
	background-position: -316px -246px;	
}

.6-of-hearts{
	background-position: -395px -246px;	
}

.7-of-hearts{
	background-position: -474px -246px;	
}

.8-of-hearts{
	background-position: -553px -246px;	
}

.9-of-hearts{
	background-position: -632px -246px;	
}

.10-of-hearts{
	background-position: -711px -246px;	
}

.jack-of-hearts{
	background-position: -790px -246px;	
}

.queen-of-hearts{
	background-position: -869px -246px;	
}

.king-of-hearts{
	background-position: -948px -246px;	
}


/* Diamonds */
.ace-of-diamonds{
	background-position: 0 -369px;	
}

.2-of-diamonds{
	background-position: -79px -369px;	
}

.3-of-diamonds{
	background-position: -158px -369px;	
}

.4-of-diamonds{
	background-position: -237px -369px;	
}

.5-of-diamonds{
	background-position: -316px -369px;	
}

.6-of-diamonds{
	background-position: -395px -369px;	
}

.7-of-diamonds{
	background-position: -474px -369px;	
}

.8-of-diamonds{
	background-position: -553px -369px;	
}

.9-of-diamonds{
	background-position: -632px -369px;	
}

.10-of-diamonds{
	background-position: -711px -369px;	
}

.jack-of-diamonds{
	background-position: -790px -369px;	
}

.queen-of-diamonds{
	background-position: -869px -369px;	
}

.king-of-diamonds{
	background-position: -948px -369px;	
}
